@import '~@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css';
@import '~@salesforce-ux/design-system/scss/design-tokens';

// Import Manifests
@import 'config/manifest';
@import 'components/manifest';
