!.*
.git/
.mypy_cache/
.nyc_output/
.pytest_cache/
.vscode/
ENV/
__pycache__/
coverage/
dist/
docs/
env/
flow-typed/
htmlcov/
jscache/
locales/
locales_dev/
node/
node_modules/
requirements/
staticfiles/
venv/
