### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# vscode
.vscode/*

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
/coverage
.coverage
.tox
htmlcov
*.tap
.pytest_cache/

# Translations
*.mo
*.pot

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
/env
.env
.envrc
local_setup.sh
list/

# User-uploaded media
metaci/media/


# MailHog binary
mailhog

# Production dirs
staticfiles/
dist/
docs/_build

# Virtualenv
venv

# databases
*.db

# redis dump
dump.rdb

# backup
*.bak

# pyenv
.python-version

# postgres database
postgres/
# safeguarding secrets
sfdx_hub.key
