# See configuring.rst to learn about these settings.

# Django secret key -- set this to an arbitrary string
export DJANGO_SECRET_KEY=""

# Database connection
export DATABASE_URL=postgres:///metaci
# Encryption key for secrets stored in the database.
# Generate a key using cryptography.fernet.Fernet.generate_key()
export DB_ENCRYPTION_KEYS=""

# GitHub Settings
# Needed to interact with GitHub
# In order to log in with GitHub we need the following for a GitHub app:
export GITHUB_CLIENT_ID=""
export GITHUB_CLIENT_SECRET=""
# It's also possible that CumulusCI tasks will need to call the GitHub API.
# For that we need:
# Option 1: Log in as a GitHub app
# export GITHUB_APP_ID=""
# export GITHUB_APP_KEY=""
# Option 2: Log in as a GitHub user
# (Use a Personal Access Token instead of a password)
export GITHUB_USERNAME=""
export GITHUB_PASSWORD=""

# Salesforce Connected App Settings
# Needed to connect Salesforce orgs
export SFDX_CLIENT_ID=""
export SFDX_HUB_KEY=""
# Username for Dev Hub org (needed to create scratch orgs)
export SFDX_HUB_USERNAME=""

# AWS Settings
# Only needed in order to record the results of Robot Framework tests to an Amazon S3 bucket.
export DJANGO_AWS_ACCESS_KEY_ID=""
export DJANGO_AWS_SECRET_ACCESS_KEY=""
export DJANGO_AWS_STORAGE_BUCKET_NAME=""

# Email settings
# Only needed if you set up notifications
export DJANGO_SERVER_EMAIL=""

# gus-bus settings (for sending release notifications to GUS)
# export METACI_RELEASE_WEBHOOK_URL=""
# export METACI_RELEASE_WEBHOOK_AUTH_KEY=""
# export GUS_BUS_OWNER_ID=""

# standard settings -- do not edit
export PROJECT=$(pwd)
export PATH=$PROJECT/node/bin:$PROJECT/node_modules/.bin:$PROJECT/venv/bin:$PATH
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
