# PATH settings
export PROJECT=$(pwd)
export PATH=$PROJECT/node/bin:$PROJECT/node_modules/.bin:$PATH

# Database
export DATABASE_URL=postgres:///metaci

# General settings
export DJANGO_ADMIN_URL=admin
export DJANGO_SETTINGS_MODULE=config.settings.local

# Django secret key -- change this to an arbitrary string
export DJANGO_SECRET_KEY="-b-9mzv9zd8+%ohfaod%ihdr&dwglvn3le7(1k%4q4e0hbm+nk"

# GitHub Settings
# Needed to interact with GitHub
# Option 1: Log in as a GitHub user
# (Use a Personal Access Token instead of a password if 2FA is enabled)
export GITHUB_USERNAME=
export GITHUB_PASSWORD=
# Option 2: Log in as a GitHub app
export GITHUB_APP_ID=
export GITHUB_APP_KEY=
# Secret for validating webhooks from GitHub
export GITHUB_WEBHOOK_SECRET=

# SFDX Settings
# Needed to create Salesforce scratch orgs
export SFDX_CLIENT_ID=
export SFDX_HUB_KEY=
export SFDX_HUB_USERNAME=

# Salesforce Connected App Settings
# Needed to connect to persistent Salesforce orgs
export CONNECTED_APP_CLIENT_ID=
export CONNECTED_APP_CLIENT_SECRET=
export CONNECTED_APP_CALLBACK_URL=

# AWS Settings
# Only needed in order to record the results of Robot Framework tests to an Amazon S3 bucket.
export DJANGO_AWS_ACCESS_KEY_ID=
export DJANGO_AWS_SECRET_ACCESS_KEY=
export DJANGO_AWS_STORAGE_BUCKET_NAME=

# Email settings
# Only needed if you set up notifications
export DJANGO_SERVER_EMAIL=

# Sentry
# Only needed if you want to send errors to Sentry
export DJANGO_SENTRY_DSN=
