{% extends 'layout_full.html' %}

{% block layout_parent_link %}<a href="/">Repos</a>{% endblock %}

{% block layout_header_text %}{{ repo }}{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Status">URL</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ repo.url }}">
        <a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_body %}

<div class="slds-tabs--default">
  <ul class="slds-tabs--default__nav" role="tablist">
    <li class="slds-tabs--default__item slds-active" title="Builds" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Latest Builds</a></li>
    <li class="slds-tabs--default__item" title="Branches" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}/branches" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Branches</a></li>
    <li class="slds-tabs--default__item" title="Plans" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}/plans" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Plans</a></li>
  </ul>
  <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">

    <table class="slds-table slds-table--bordered slds-table--cell-buffer">
      <thead>
        <tr class="slds-text-title--caps">
          <th scope="col">
            <div class="slds-truncate" title="">#</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Status</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Plan</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Branch/Tag</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Commit</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Start Date</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">End Date</div>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for build in builds %}
        <tr>
          <th data-label="Build Number">
            <div class="slds-truncate" title="{{ build.id }}"><a href="/builds/{{ build.id }}">{{ build.id }}</a></div>
          </th>
          <td data-label="Status">
            <div class="slds-truncate slds-badge {% if build.status == 'failure' or build.status == 'error' %}slds-theme--error{% elif build.status == 'success' %}slds-theme--success{% endif %}" title="{{ build.status }}"><a href="{{ build.get_absolute_url }}">{{ build.status }}</a></div>
          </td>
          <td data-label="Plan">
            <div class="slds-truncate" title="{{ build.plan }}">{{ build.plan }}</div>
          </td>
          <td data-label="Branch">
            <div class="slds-truncate" title="{{ build.branch.name }}">{{ build.branch.name }}</div>
          </td>
          <td data-label="Commit">
            <div class="slds-truncate" title="{{ build.commit }}">{{ build.commit }}</div>
          </td>
          <td data-label="Start Date">
            <div class="slds-truncate" title="{{ build.time_start }}">{{ build.time_start }}</div>
          </td>
          <td data-label="End Date">
            <div class="slds-truncate" title="{{ build.time_end }}">{{ build.time_end }}</div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include 'build/build_pagination.html' %}
    
  </div>
</div>

{% endblock %}
