{% extends 'layout_full.html' %}

{% block layout_parent_link %}<a href="/">Repos</a>{% endblock %}

{% block layout_header_text %}{{ repo }}: Plans{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Status">URL</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ repo.url }}">
        <a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_body %}

<div class="slds-tabs--default">
  <ul class="slds-tabs--default__nav" role="tablist">
    <li class="slds-tabs--default__item" title="Builds" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Latest Builds</a></li>
    <li class="slds-tabs--default__item" title="Branches" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}/branches" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Branches</a></li>
    <li class="slds-tabs--default__item slds-active" title="Plans" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}/plans" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Plans</a></li>
  </ul>
  <div id="tab-default-3" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-3__item">

    <table class="slds-table slds-table--bordered slds-table--cell-buffer">
      <thead>
        <tr class="slds-text-title--caps">
          <th scope="col">
            <div class="slds-truncate" title="">Name</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Type</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Regex</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Org</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Github Context</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="">Active?</div>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for plan in repo.plans.all %}
        <tr>
          <th data-label="Plan">
            <div class="slds-truncate" title="{{ plan.name }}"><a href="{{ plan.get_absolute_url }}">{{ plan.name }}</a></div>
          </th>
          <th data-label="Type">
            <div class="slds-truncate"><span>{{ plan.type }}</span></div>
          </th>
          <th data-label="Regex">
            <div class="slds-truncate"><span>{{ plan.regex }}</span></div>
          </th>
          <th data-label="Org">
            <div class="slds-truncate"><span>{{ plan.org }}</span></div>
          </th>
          <th data-label="Github Context">
            <div class="slds-truncate"><span>{{ plan.context }}</span></div>
          </th>
          <th data-label="Active">
            <div class="slds-truncate"><span>{{ plan.active }}</span></div>
          </th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>

{% endblock %}
