{% extends "base.html" %}

{% block layout_body %}

<div class="slds-text-heading--large slds-text-align--center slds-m-vertical--large">
  MetaCI is a build system for Salesforce Apps
</div>
<div class="slds-text-heading--medium slds-text-align--center slds-m-vertical--large">
  <a href="https://github.com/SFDO-Tooling/MetaCI">GitHub repository</a>
</div>

{% if user.is_superuser %}
<div class="slds-box slds-m-top--xx-large slds-m-horizontal--xx-large">
  <table class="slds-table">
    <tbody>
      <tr><th>Django version</th><td>{{ DJANGO_VERSION }}</td></tr>
      <tr><th>Python version</th><td>{{ PYTHON_VERSION }}</td></tr>
      <tr><th>Salesforce DX CLI version</th><td>{{ SFDX_CLI_VERSION }}</td></tr>
      <tr><th>CumulusCI version</th><td>{{ CUMULUSCI_VERSION }}</td></tr>
      <tr><th>HEROKU_APP_ID</th><td>{{ HEROKU_APP_ID }}</td></tr>
      <tr><th>HEROKU_APP_NAME</th><td>{{ HEROKU_APP_NAME }}</td></tr>
      <tr><th>HEROKU_DYNO_ID</th><td>{{ HEROKU_DYNO_ID }}</td></tr>
      <tr><th>HEROKU_RELEASE_CREATED_AT</th><td>{{ HEROKU_RELEASE_CREATED_AT }}</td></tr>
      <tr><th>HEROKU_RELEASE_VERSION</th><td>{{ HEROKU_RELEASE_VERSION }}</td></tr>
      <tr><th>HEROKU_SLUG_COMMIT</th><td>{{ HEROKU_SLUG_COMMIT }}</td></tr>
      <tr><th>HEROKU_SLUG_DESCRIPTION</th><td>{{ HEROKU_SLUG_DESCRIPTION }}</td></tr>
    </tbody>
  </table>
</div>
{% endif %}

{% endblock layout_body %}
