{% extends 'layout_full.html' %}
{% load humanize %}

{% block layout_header_text %}

Test Trend for {{ method.testclass }}.{{ method }} in {{ method.testclass.repo }}
<a href="https://github.com/{{ method.testclass.repo }}/search?q={{method.testclass}}">(github search)</a>

{% endblock %}

{% block layout_header_details %}
{% endblock %}

{% block layout_body %}

<table class="slds-table slds-table--bordered slds-table--cell-buffer">
  <thead>
    <tr class="slds-text-title--caps">
    {% for header in headers %}
      <th scope="col">{{ header }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for plan_result in results %}
    <tr>
      <th scope="row">{{ plan_result.0 }}</th>
      <th scope="row">{{ plan_result.1 }}</th>
      {% for result in plan_result.2 %}
      <td>
        {% if result.outcome == 'Pass' %}
        <a href="{{ result.build_flow.build.get_absolute_url }}" title="Started: {{ result.build_flow.time_start|naturaltime }}{{ result.build_flow.build.commit }}>
          <div class="slds-media__figure"> 
            {% autoescape off %}
            <svg class="slds-button__icon slds-theme--success" aria-hidden="true">
              <use xlink:href="/static/slds/icons/utility-sprite/svg/symbols.svg#success"></use>
            </svg>
            {% endautoescape %}
            <span class="slds-assistive-text">Pass</span>
          </div>
        </a>
        {% elif result.outcome == 'Fail' %}
        <a href="{{ result.build_flow.build.get_absolute_url }}">
          <div class="slds-media__figure"> 
            {% autoescape off %}
            <svg class="slds-button__icon slds-theme--error" aria-hidden="true">
              <use xlink:href="/static/slds/icons/utility-sprite/svg/symbols.svg#error"></use>
            </svg>
            {% endautoescape %}
            <span class="slds-assistive-text">Fail</span>
          </div>
        </a>
        {% endif %}
      </td>  
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'testresults/results_pagination.html' %}
{% endblock %}
