{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block base_head %}
<link href="{% static 'css/mebelvedere-slds.css' %}" rel="stylesheet">
<meta http-equiv="refresh" content="2; URL='/accounts/github/login'" {% endblock %}
  {% block base_page_header %}{% endblock %} {% block inner %} <h1>
{% trans "Redirecting to GitHub for authentication..." %}</h1>

{% endblock %}
