{% extends 'django_slds/base_slds.html' %}

{% block base_title %}{% endblock %}

{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-media">
      <div class="slds-media__body">
        <p class="slds-text-heading--label">
            {% block layout_parent_link %}<a href="/mpinstaller">Installer</a>{% endblock %}
        </p>
        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">
        {% block layout_header_text %}
        {% endblock %}
        </h1>
      {% block layout_header_description %}
      {% endblock %}
      </div>
    </div>
  </div>
  {% block layout_header_details %}{% endblock %}
</div>
{% endblock %}

{% block base_body %}

  <div class="slds-grid">

    <div class="slds-col slds-size--1-of-1 slds-p-around--large">
      {% block layout_body %}{% endblock %}
    </div>

  </div>

{% endblock %}
