{% extends 'layout_full.html' %}

{% block layout_header_text %}My Notifications{% endblock %}

{% block layout_header_details %}
{% endblock %}

{% block layout_body %}

<div class="slds-box">
  <h3 class="slds-text-heading--large">Repositories</h3>
  <table class="slds-table">
    <thead>
      <tr>
        <th>Repository</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.repo %}
      <tr>
        <td>{{ notification.repo }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/repository">Add Repository Notification</a>

<div class="slds-box slds-m-top--large">
  <h3 class="slds-text-heading--large">Plans</h3>

  <table class="slds-table">
    <thead>
      <tr>
        <th>Plan</th>
        <th>Repo</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.plan %}
      <tr>
        <td>{{ notification.plan }}</td>
        <td>{{ notification.plan.repo }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/plan">Add Plan Notification</a>

<div class="slds-box slds-m-top--large">
  <h3 class="slds-text-heading--large">Branches</h3>
  <table class="slds-table">
    <thead>
      <tr>
        <th>Branch</th>
        <th>Repo</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.branch %}
      <tr>
        <td>{{ notification.branch }}</td>
        <td>{{ notification.branch.repo }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/branch">Add Branch Notification</a>

{% endblock %}
