{% extends 'layout_full.html' %}

{% block layout_parent_link %}Orgs{% endblock %}

{% block layout_header_text %}Scratch Org Instance: {{ instance.username }}{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Parent Org">Parent Org</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ instance.org }}">
        <a href="{{ instance.org.get_absolute_url }}">{{ instance.org }}</a>
      </p>
    </li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Org Id">Org ID</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ instance.sf_org_id }}">
        {{ instance.sf_org_id }}
      </p>
    </li>
    {% if instance.deleted %}
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Date Deleted">Date Deleted</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ instance.time_deleted }}">
        {{ instance.time_deleted }}
      </p>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block layout_header_buttons %}
    {% if not instance.deleted %}
      <a href="{{ instance.get_absolute_url }}/login" target="_blank">
        <button class="slds-button slds-button--brand">
          Log In
        </button>
      </a>
      <a href="{{ instance.get_absolute_url }}/delete">
        <button class="slds-button slds-button--neutral slds-button--last">
          Delete Org
        </button>
      </a>
    {% endif %}
{% endblock %}

{% block layout_body %}

{% if not instance.deleted and instance.delete_error %}
<div class="slds-box slds-theme--error">
  <h3 class="slds-text-heading--medium">Error from the last deletion attempt</h3>
  <div class="slds-box-content">
    <p>{{ instance.delete_error }}</p>
  </div>
</div>
{% endif %}

<div class="slds-tabs--default">
  <ul class="slds-tabs--default__nav" role="tablist">
    <li class="slds-tabs--default__item slds-active" title="Builds" role="presentation"><a class="slds-tabs--default__link" href="{{ repo.get_absolute_url }}" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Latest Builds</a></li>
  </ul>
  <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">

    {% include 'build/build_table.html' with build=builds %}

  </div>
</div>

{% endblock %}
