{% extends 'layout_full.html' %}

{% block layout_parent_link %}Orgs{% endblock %}

{% block layout_header_text %}{{ org.name }}{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Org Type">Org Type</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ org.scratch }}">
      {% if org.scratch %}
        <div class="slds-truncate slds-badge slds-theme--info" title="Scratch Config">Scratch Config</div>
      {% else %}
        <div class="slds-truncate slds-badge slds-theme--info" title="Persistent">Persistent Org</div>
      {% endif %}
      </p>
    </li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Org Type">Repository</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ org.repo }}">
        <a href="{{ org.repo.get_absolute_url }}">{{ org.repo }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_header_buttons %}
{% if not org.scratch %}
{% if user.is_superuser %}
{% if org.is_locked %}
<a href="{{ org.get_absolute_url }}/unlock">
  <button class="slds-button slds-button--destructive slds-m-horizontal--medium">
    Unlock
  </button>
</a>
{% else %}
<a href="{{ org.get_absolute_url }}/lock">
  <button class="slds-button slds-button--destructive slds-m-horizontal--medium">
    Lock
  </button>
</a>
{% endif %}
{% endif %}
{% if can_log_in %}
<a href="{{ org.get_absolute_url }}/login" target="_blank">
  <button class="slds-button slds-button--brand">
    Log In
  </button>
</a>
{% endif %}
{% endif %}
{% endblock %}

{% block layout_body %}

<div class="slds-tabs--default">
  <ul class="slds-tabs--default__nav" role="tablist">
    <li class="slds-tabs--default__item slds-active" title="Builds" role="presentation"><a class="slds-tabs--default__link" href="{{ org.get_absolute_url }}" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Latest Builds</a></li>
  </ul>
  <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">

    {% include 'build/build_table.html' %}

  </div>
</div>

{% endblock %}
