// Footer
// ======

.site-contentinfo {
  background-color: $color-background-reminder;
}

.footer-logo {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 22px;
  min-width: 100px;
}

.footer-item {
  @media (max-width: $mq-medium) {
    margin-bottom: $spacing-small;
  }
}
