{% extends "layout_full.html" %}

{% block layout_title %}{% block page_title %}MetaCI{% endblock %}{% endblock %}

{% block layout_body %}
    <div class="slds-box">

      {% if messages %}
          {% for message in messages %}
              <div class="slds-notification {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
{% endblock %}
