{% extends 'django_slds/base_slds.html' %}

{% load static %}

{% block base_title %}MetaCI{% endblock %}

{% block base_head %}
<!-- SLDS Overrides -->
<link href="{% static 'css/mebelvedere-slds.css' %}" rel="stylesheet">
{% endblock %}

{% block base_page_header %}

<header class="slds-global-header_container ">
  <div class="slds-global-header slds-grid slds-grid--align-spread ">
    <div class="slds-global-header__item">
        <a href="/">MetaCI</a>
    </div>
    {% if perms.builds.search_builds %}
    <div class="slds-global-header__item slds-global-header__item--search">
      <div class="slds-form-element slds-lookup">
        <label class="slds-assistive-text" for="global-search-01">Search Builds</label>
        <form action="/search">
        <div class="slds-form-element__control lookup__search-control slds-input-has-icon slds-input-has-icon--left">
          {% autoescape off %}
          <svg class="slds-input__icon" aria-hidden="true">
            <use xlink:href="/static/design-system/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
          </svg>
          {% endautoescape %}
          <input type="search" id="global-search-01" class="slds-input slds-lookup__search-input" name="q" {% if query %}value="{{ query }}"{% else %}placeholder="Search Builds"{% endif %} />
        </div>
        </form>
      </div>
    </div>
    {% endif %}
    <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-right--large">
        <a href="/builds/">
        <div class="slds-media">
          <div class="slds-media__body">
            <h3 class="slds-text-heading--medium">Builds</h3>
          </div>
        </div>
        </a>
      </li>
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-right--large">
        <a href="/plans/">
        <div class="slds-media">
          <div class="slds-media__body">
            <h3 class="slds-text-heading--medium">Plans</h3>
          </div>
        </div>
        </a>
      </li>
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-right--large">
        <a href="/repos/">
        <div class="slds-media">
          <div class="slds-media__body">
            <h3 class="slds-text-heading--medium">Repos</h3>
          </div>
        </div>
        </a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-right--large">
        <a href="/create-org/">
        <div class="slds-media">
          <div class="slds-media__body">
            <h3 class="slds-text-heading--medium">Create Org</h3>
          </div>
        </div>
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-horizontal--xx-small">
        <a href="/notifications">
        <div class="slds-media">
          <div class="slds-media__figure">
            {% autoescape off %}
            <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
              <use xlink:href="/static/design-system/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
            </svg>
            {% endautoescape %}
            <span class="slds-assistive-text">Notifications</span>
          </div>
        </div>
        </a>
      </li>
      {% if request.user.is_staff %}
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-horizontal--xx-small">
        <a href="{% url 'admin:index' %}">
        <div class="slds-media">
          <div class="slds-media__figure">
            {% autoescape off %}
            <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
              <use xlink:href="/static/design-system/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
            </svg>
            {% endautoescape %}
            <span class="slds-assistive-text">Admin</span>
          </div>
        </div>
        </a>
      </li>
      {% endif %}
      <li class="slds-m-left--large">
        <a href="{% url 'users:detail' request.user.username  %}" class="slds-button" title="person name" aria-haspopup="true">
          <span class="slds-avatar slds-avatar--circle slds-avatar--medium">
            <img src="/static/design-system/assets/images/avatar2.jpg" alt="person name" />
          </span>
        </a>
      </li>
      <li class="slds-m-left--large">
        <a href="/accounts/logout">
        <div class="slds-media">
          <div class="slds-media__figure"> 
            {% autoescape off %}
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/static/design-system/assets/icons/utility-sprite/svg/symbols.svg#logout"></use>
            </svg>
            {% endautoescape %}
            <span class="slds-assistive-text">Log Out</span>
          </div>
          <div class="slds-media__body">
            <h3 class="slds-text-heading--medium">Log Out</h3>
          </div>
        </div>
        </a>
      </li>
      {% else %}
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--large">
        <a href="/accounts/github/login">
        <div class="slds-media">
          <div class="slds-media__figure"> 
            {% autoescape off %}
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/static/design-system/assets/icons/utility-sprite/svg/symbols.svg#groups"></use>
            </svg>
            {% endautoescape %}
            <span class="slds-assistive-text">Log In</span>
          </div>
          <div class="slds-media__body">
            <h3 class="slds-text-heading--medium">Log In</h3>
          </div>
        </div>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>


<div class="slds-clearfix"></div>

<div class="slds-page-header slds-p-top--x-large slds-m-top--xx-large" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media">
        <div class="slds-media__body">
          <p class="slds-text-heading--label">
              {% block layout_parent_link %}{% endblock %}
          </p>
          <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">
            {% block layout_header_text %}
            {% endblock %}
          </h1>
        {% block layout_header_description %}
        {% endblock %}
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-align-bottom">
      <div class="slds-button-group" role="group">
        {% block layout_header_buttons %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% block layout_header_details %}{% endblock %}
</div>
{% endblock %}

{% block base_body %}

  <div class="slds-grid">

    <div class="slds-col slds-size--1-of-1 slds-p-around--large">
      {% block layout_body %}{% endblock %}
    </div>

  </div>

{% endblock %}
