{% extends 'layout_full.html' %}

{% load crispy_forms_tags %}
{% load templatehelpers %}


{% block layout_header_text %}Create Scratch Org for {{ repo.name }}: {{ plan.name }}{% endblock %}


{% block layout_body %}
  <div class="slds-grid">
    <div class="slds-col slds-size--1-of-2 slds-p-around--large">
      {% crispy form form.helper %}

      {% if form.advanced_mode %}
        <a href="{% relative_url '0' 'advanced_mode' request.GET.urlencode %}">Simple Mode</a>
      {% else %}
        <a href="{% relative_url '1' 'advanced_mode' request.GET.urlencode %}">Advanced Mode</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
