{% extends 'layout_full.html' %}

{% load crispy_forms_tags %}

{% block layout_header_text %}Delete Notification{% endblock %}

{% block layout_body %}

<h3 class="slds-text-heading--medium slds-m-bottom--medium">
  Are you sure you want to delete this {{ notification_type }}?
</h3>
<div class="slds-box slds-m-bottom--medium">
  <table class="slds-table slds-no-row-hover">
    <thead>
      <tr>
        {% if notification_type == "Branch Notification" %}
          <th>Branch</th>
          <th>Repository</th>
        {% else %}
          <th>{{ notification_type }}</th>
        {% endif %}
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      {% if notification_type == "Branch Notification" %}
        <th>{{ notification.target }}</th>
        <th>{{ notification.target.repo }}</th>
      {% else %}
        <td>{{ notification.target }}</td>
      {% endif %}
      <td>{{ notification.on_success }}</td>
      <td>{{ notification.on_fail }}</td>
      <td>{{ notification.on_error }}</td>
    </tr>
    </tbody>
  </table>
</div>

<form method="post">{% csrf_token %}
  <input type="submit" value="Confirm" class="slds-button slds-button--destructive" />
  <a href="{{ view.get_success_url }}" class="slds-button slds-button--neutral">Cancel</a>

</form>


{% endblock %}
