{% extends 'layout_full.html' %}

{% block layout_header_text %}My Notifications{% endblock %}

{% block layout_header_details %}
{% endblock %}

{% block layout_body %}

<div class="slds-box">
  <h3 class="slds-text-heading--large">Repositories</h3>
  <table class="slds-table">
    <thead>
      <tr>
        <th>Repository</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.repo %}
      <tr>
        <td>{{ notification.target }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
        <td>
          <a href="/notifications/delete/repository/{{ notification.id }}">
            <button class="slds-button slds-button_icon" title="Delete notification">
              {% autoescape off %}
              <svg class="slds-button__icon slds-theme--default" aria-hidden="true">
                <use xlink:href="/static/slds/icons/action-sprite/svg/symbols.svg#delete"></use>
              </svg>
              {% endautoescape %}
              <span class="slds-assistive-text">Delete notification</span>
            </button>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/repository">Add Repository Notification</a>

<div class="slds-box slds-m-top--large">
  <h3 class="slds-text-heading--large">Plans</h3>

  <table class="slds-table">
    <thead>
      <tr>
        <th>Plan</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.plan %}
      <tr>
        <td>{{ notification.target }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
        <td>
          <a href="/notifications/delete/plan/{{ notification.id }}">
            <button class="slds-button slds-button_icon" title="Delete notification">
              {% autoescape off %}
              <svg class="slds-button__icon slds-theme--default" aria-hidden="true">
                <use xlink:href="/static/slds/icons/action-sprite/svg/symbols.svg#delete"></use>
              </svg>
              {% endautoescape %}
              <span class="slds-assistive-text">Delete notification</span>
            </button>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/plan">Add Plan Notification</a>

<div class="slds-box slds-m-top--large">
  <h3 class="slds-text-heading--large">PlanRepositories</h3>

  <table class="slds-table">
    <thead>
      <tr>
        <th>PlanRepository</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.planrepository %}
      <tr>
        <td>{{ notification.target }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
        <td>
          <a href="/notifications/delete/planrepository/{{ notification.id }}">
            <button class="slds-button slds-button_icon" title="Delete notification">
              {% autoescape off %}
              <svg class="slds-button__icon slds-theme--default" aria-hidden="true">
                <use xlink:href="/static/slds/icons/action-sprite/svg/symbols.svg#delete"></use>
              </svg>
              {% endautoescape %}
              <span class="slds-assistive-text">Delete notification</span>
            </button>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/planrepository">Add PlanRepository Notification</a>

<div class="slds-box slds-m-top--large">
  <h3 class="slds-text-heading--large">Branches</h3>
  <table class="slds-table">
    <thead>
      <tr>
        <th>Branch</th>
        <th>Repository</th>
        <th>On Success</th>
        <th>On Failure</th>
        <th>On Error</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for notification in notifications.branch %}
      <tr>
        <td>{{ notification.target }}</td>
        <td>{{ notification.branch.repo }}</td>
        <td>{{ notification.on_success }}</td>
        <td>{{ notification.on_fail }}</td>
        <td>{{ notification.on_error }}</td>
        <td>
          <a href="/notifications/delete/branch/{{ notification.id }}">
            <button class="slds-button slds-button_icon" title="Delete notification">
              {% autoescape off %}
              <svg class="slds-button__icon slds-theme--default" aria-hidden="true">
                <use xlink:href="/static/slds/icons/action-sprite/svg/symbols.svg#delete"></use>
              </svg>
              {% endautoescape %}
              <span class="slds-assistive-text">Delete notification</span>
            </button>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="slds-button" href="/notifications/add/branch">Add Branch Notification</a>

{% endblock %}
