{% extends 'layout_full.html' %}

{% block layout_header_text %}
  <div class="slds-page-header__row">
    <div class="slds-text-body_regular">
      {% if branch.is_tag %}
        Tag
      {% else %}
        Branch
      {% endif %}
    </div>
  </div>
  {% if branch.is_tag %}
    {{ branch.name|cut:"tag: " }}
  {% else %}
    {{ branch.name }}
  {% endif %}
{% endblock %}

{% block layout_header_buttons %}
    <ul class="slds-button-group-list">
      <li>
        {% if branch.is_tag %}
          <a href="{{ repo.url }}/releases/tag/{{ branch.name|cut:"tag: " }}" target="_blank">
            <button class="slds-button slds-button_outline-brand">
              View Tag in GitHub
            </button>
          </a
        {% else %}
          <a href="{{ repo.url }}/tree/{{ branch.name }}" target="_blank">
            <button class="slds-button slds-button_outline-brand">
              View Branch in GitHub
            </button>
          </a
        {% endif %}
      </li>
    </ul>
{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Status">Repo</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ repo }}">
        <a href="/repos/{{ repo.owner }}/{{ repo.name }}" target="_blank">{{ repo }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_body %}

{% include 'build/build_table.html' %}

{% endblock %}
