{% extends 'layout_full.html' %}

{% block layout_parent_link %}<a href="/repos/{{ branch.repo.owner }}/{{ branch.repo.name }}">{{ branch.repo }}</a>{% endblock %}

{% block layout_header_text %}{{ branch.name }}{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Status">URL</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ branch.repo.url }}/tree/{{ branch.name }}">
        <a href="{{ branch.repo.url }}/tree/{{ branch.name }}" target="_blank">{{ branch.repo.url }}/tree/{{ branch.name }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_body %}

{% include 'build/build_table.html' with builds=builds %}

{% endblock %}
