{% extends 'layout_full.html' %}

{% block layout_parent_link %}<a href="/repos/{{ branch.repo.owner }}/{{ branch.repo.name }}">{{ branch.repo }}</a>{% endblock %}

{% block layout_header_text %}

Commit SHA: {{ commit }}

{% endblock %}

{% block layout_header_buttons %}
  <a href="{{ repo.url }}/commit/{{ commit }}" target="_blank">
    <button class="slds-button slds-button_neutral">View Commit in GitHub</button>
  </a>
{% endblock %}

{% block layout_body %}

{% include 'build/build_table.html' %}

{% endblock %}
