{% extends 'layout_full.html' %}

{% block layout_header_text %}
  <div class="slds-page-header__row">
    <div class="slds-text-body_regular">
      Commit SHA
    </div>
  </div>
  {{ commit }}
{% endblock %}

{% block layout_header_buttons %}
  <ul class="slds-button-group-list">
    <li>
      <a href="{{ repo.url }}/commit/{{ commit }}" target="_blank">
        <button class="slds-button slds-button_outline-brand">View Commit in GitHub</button>
      </a>
    </li>
  </ul>
{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Status">Repo</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ repo }}">
        <a href="/repos/{{ repo.owner }}/{{ repo.name }}" target="_blank">{{ repo }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_body %}

{% include 'build/build_table.html' %}

{% endblock %}
