{% extends 'layout_full.html' %}
{% load humanize %}

{% block layout_parent_link %}{% endblock %}
{% block layout_header_text %}Repositories{% endblock %}

{% block layout_body %}

<div class="slds-box">
  <div class="slds-box--body">
    <table class="slds-table">
      <thead>
        <tr>
          <th>Name</th>
          <th># Builds</th>
{% for column in columns %}
          <th>{{ column }}</th>
{% endfor %}
        </tr>
      </thead>
      <tbody>
{% for repo in repos %}
        <tr>
          <td><a href="/repos/{{ repo.owner }}/{{ repo.name }}">{{ repo.title }}</a></td>
          <td>{{ repo.build_count }}</td>
        {% for column in repo.columns %}
          <td>
          {% for build in column %}
            {% if build.get_status == 'queued' or build.get_status == 'waiting' or build.get_status == 'running' %}
              <a href="{{ build.get_absolute_url }}" title="Started: {{ build.get_time_start|naturaltime }} Commit: {{ build.commit }}">
                <div class="slds-media__figure"> 
                  {% autoescape off %}
                  <svg class="slds-button__icon slds-theme--default" aria-hidden="true">
                    <use xlink:href="/static/slds/icons/utility-sprite/svg/symbols.svg#inbox"></use>
                  </svg>
                  {% endautoescape %}
                  <span class="slds-assistive-text">Pass</span>
                </div>
              </a>
            {% elif build.get_status == 'success' %}
              <a href="{{ build.get_absolute_url }}" title="Started: {{ build.get_time_start|naturaltime }} Commit: {{ build.commit }}">
                <div class="slds-media__figure"> 
                  {% autoescape off %}
                  <svg class="slds-button__icon slds-theme--success" aria-hidden="true">
                    <use xlink:href="/static/slds/icons/utility-sprite/svg/symbols.svg#success"></use>
                  </svg>
                  {% endautoescape %}
                  <span class="slds-assistive-text">Pass</span>
                </div>
              </a>
            {% elif build.get_status == 'fail' or build.get_status == 'error' %}
              <a href="{{ build.get_absolute_url }}">
                <div class="slds-media__figure" title="Started: {{ build.get_time_start|naturaltime }} Commit: {{ build.commit }}"> 
                  {% autoescape off %}
                  <svg class="slds-button__icon slds-theme--error" aria-hidden="true">
                    <use xlink:href="/static/slds/icons/utility-sprite/svg/symbols.svg#error"></use>
                  </svg>
                  {% endautoescape %}
                  <span class="slds-assistive-text">Fail</span>
                </div>
              </a>
            {% endif %}
          {% endfor %}
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>  
{% endblock %}
