<ul class="slds-list_horizontal slds-has-dividers_right">
  <li class="slds-item"><a class='api-link' href="/api/robot.csv?range=today{{ args }}">Today</a></li>
  <li class="slds-item"><a class='api-link' href="/api/robot.csv?range=yesterday{{ args }}">Yesterday</a></li>
  <li class="slds-item"><a class='api-link' href="/api/robot.csv?range=thisweek{{ args }}">This week</a></li>
  <li class="slds-item"><a class='api-link' href="/api/robot.csv?range=lastweek{{ args }}">Last week</a></li>
  <li class="slds-item"><a class='api-link' href="/api/robot.csv?range=thismonth{{ args }}">This month</a></li>
  <li class="slds-item"><a class='api-link' href="/api/robot.csv?range=lastmonth{{ args }}">Last month</a></li>
</ul>
