{% load api_bootstrap %}
{% load js_reverse %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
    <meta name="author" content="Salesforce.org" />
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
    <meta name="language" content="en-us" />

    <!-- Page Info -->
    <title>{% block title %}Meta CI Client{% endblock %}</title>
    <meta name="description" content="{% block description %}React Client for MetaCI{% endblock description %}" />

    <!-- Styles -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.vendors.css[0] %>" type="text/css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.app.css[0] %>" type="text/css">
  </head>
  <body>
    <main id="app" class="slds-grid slds-grid_vertical"{% if user.is_authenticated %} data-user="{{ user|serialize }}"{% endif %}>
      <div role="status" class="slds-spinner slds-spinner_large">
        <span class="slds-assistive-text">Loading…</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </main>

    <!-- JavaScript -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.runtime.entry %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.vendors.entry %>"></script>
    {% if GLOBALS.SENTRY_DSN_PUBLIC %}
      <!-- Insert Raven JS -->
      <script id="js-raven-setup" type="application/json">
        {
          "dsn": "{{ GLOBALS.SENTRY_DSN_PUBLIC }}"
        }
      </script>
      <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.raven.entry %>"></script>
    {% endif %}
    {{ GLOBALS|json_script:"js-globals" }}
    <script type="text/javascript" charset="utf-8">
      {% js_reverse_inline %}
    </script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
  </body>
</html>
