<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% for (var path of htmlWebpackPlugin.files.css) { %>
      <link rel="stylesheet" href="<%= path %>" type="text/css">
    <% } %>
  </head>
  <body>
      {% if request.user.is_authenticated %}
        <main id="app" class="slds-grid slds-grid_vertical">
          <div role="status" class="slds-spinner slds-spinner_large">
            <span class="slds-assistive-text">Loading…</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
          </div>
        </main>

        <% for (var path of htmlWebpackPlugin.files.js) { %>
          <script type="text/javascript" src="<%= path %>"></script>
        <% } %>
      {% else %}
        <main id="app" class="slds-grid__vertical slds-page-header">
            <p>Please login to view this data.</p>
            <div class="slds-brand-band slds-brand-band_large">
              <p><img src="https://i.gifer.com/G36W.gif" /></p>
          </div>
        </main>
      {% endif %}
  </body>
</html>
